<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/caminhoAdm.css">
</head>
<body>
    <header class="headerd">
        <div class="textlogo">
            <p class="logo">Vila</p>
            <p class="logo verde">Verde</p>
        </div>
        <div class="linha"></div>
    </header>
    <main class="entradaInfos">
        <div class="metadinha">
            <form method="get" action="/eleitores">
                <button class="button">Cadastro de eleitor</button>
            </form>
            <form method="get" action="/candidatos/create">
                <button class="button">Cadastro de candidato</button>
            </form>
            <form method="get" action="/chapas/cadastrar">
                <button class="button">Cadastro de chapa</button>
            </form>
        </div>
        <div class="metadinha">
            <form method="get" action="/cargos/cadastro">
                <button class="button">Cadastro de cargo</button>
            </form>
            <form method="get" action="/eleicoes/cadastro">
                <button class="button">Cadastro de eleição</button>
            </form>
            <form method="get" action="/candidatos-na-chapa/cadastrar">
                <button class="button">Cadastrar candidato na chapa</button>
            </form>
        </div>
    </main>
    <div class="linhaCompleta"></div>
</body>
</html>
