<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <header class="headerd">
        <div class="textlogo">
            <p class="logo">Vila</p>
            <p class="logo verde">Verde</p>
        </div>
        <div class="linha"></div>
    </header>
    <div class="votacao">
        <h1>Selecione o candidato que deseja votar</h1>
    </div>
    <main class="entradaInfos" id="entradaInfos">
    </main>

<script>
document.addEventListener('DOMContentLoaded', function() {
fetch('getchapas')
    .then(response => response.json())
    .then(data => {
        console.log(data);
        const mainElement = document.getElementById('entradaInfos');
        data.forEach(chapa => {
            const blocoChapa = document.createElement('div');
            blocoChapa.className = 'blocoChapa';
            blocoChapa.innerHTML = `
    <div class="blocoChapa">
        
        <div class="center">
            <div class="numChapa">
                <p class="number">${chapa.id}</p>
            </div>
        </div>

            <form method='post' class="Chapa">
                <div class="dados">
                    <p class="nomeChapa" id="nomeChapas">${chapa.nome}</p>
                    <div class="alinha">
                        <p class="statu">Candidato ao cargo de presidente:</p> 
                        <p class="pessoa" id="candidato">${chapa.candidatos[0].nome}</p>
                    </div>
                    <div class="alinha">
                        <p class="statu">Candidato ao cargo de vice-presidente:</p> 
                        <p class="pessoa" id="viceCandidato">${chapa.candidatos[1].nome}</p>
                    </div>
                </div>
                </form>
                    <div class="botao">
                        <button onClick="Clec('${chapa.nome}')" class="proprioBotao">Votar</button>
                    </div>
    </div>
            `;
            mainElement.appendChild(blocoChapa);
        });
    })
    .catch(error => console.error('Erro ao buscar os dados:', error));
});           
    function Clec(chapaNome){
        Swal.fire({
            title: `Confirme sua votação na chapa ${chapaNome}`,
            icon: 'success',
            confirmButtonText: 'Confirmar'
    })
        }
</script>
</body>

</html>
