<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Chapa</title>
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/cadastroChapas.css">
</head>
<body>
    <header class="headerd">
        <div class="textlogo">
            <p class="logo">Vila</p>
            <p class="logo verde">Verde</p>
        </div>
        <div class="linha"></div>
    </header>
    <main class="entradaInfos">
        <p class="nomePagina">Cadastro de Chapa</p>
        <form method="post" action="/chapas/cadastrar">
            <div class="form">
            <div class="metadeForm"> 
                <div class="info">
                    <label for="Nome" class="label">Nome</label>
                    <input type="text" id="Nome" name="nome" placeholder="Digite o nome da chapa" required>
                </div>
            </div>
            <div class="metadeForm segunda">
                <div class="info">
                    <label for="eleicao" class="label">Eleição</label>
                    <select id="eleicao" name="eleicao_id" required>
                        <option value="" disabled selected hidden>Selecione uma eleição</option>
                        <% eleicoes.forEach(eleicao => { %>
                            <option value="<%= eleicao.id %>"><%= eleicao.nome %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            </div>
            <div class="botaoDiv">
                <div class="voltaDiv">
                    <button type="button" class="voltar">Voltar</button>
                </div>
                <div class="cadastraDiv">
                    <button type="submit" class="cadastrar">Cadastrar Chapa</button>
                    <p class="textoI">Ao cadastrar-se você estará sujeito aos nossos Termos de eleição</p>
                </div>
            </div>
            <div class="linha completa"></div>
        </form>
    </main>
</body>
</html>
