<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastroCargo.css">    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Documento</title>
</head>
<body>
    <div id="container">
        <nav id="logo">
            <p><span class="vila">Vila</span> <span class="verde">Verde</span></p>
            <div class="line"></div>
        </nav>
        <div class="Vota">
            <p class="Vota">Cadastro de Cargo</p>
        </div>    
            <form action="formulario" class="formErro">
                <div class="forma">
                    <div class="divOO">
                        <div class="divAA">
                            <label for="cargo" class="label">Cargo</label>
                            <input type="text" class="inputs" name="cargo" required>
                        </div>
                    </div>
                    <div class="divOO">
                        <div class="divAA">
                            <label for="senha" class="label">Eleição</label>
                            <input type="password" class="inputs" name="eleicao" minlength="6" required>
                        </div>
                    </div>
                </div>
                <div class="butao">
                    <button class="verification">Cadastrar Cargo</button>
                </div>
                <div class="termos">
                    <p>Ao cadastrar-se você estará sujeito a nossos Termos de eleição</p>
                </div>
                <div class="innerLine">
                </div>
            </form>
    </div>
</body>
</html>
