<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Votação</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Bem-vindo ao Sistema de Votação</h1>
    <ul>
      <li><a href="/candidatos">Lista de Candidatos</a></li>
      <li><a href="/eleitores">Lista de Eleitores</a></li>
      <li><a href="/votacoes">Lista de Votações</a></li>
      <% if (typeof user !== 'undefined') { %>
      <li><a href="/logout">Logout</a></li>
      <% } else { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <% } %>
    </ul>
  </body>
</html>
