<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vila Verde</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="headerd">
      <div class="textlogo">
        <p class="logo">Vila</p>
        <p class="logo verde">Verde</p>
      </div>
      <div class="linha"></div>
    </header>
    <div class="nomeLogin">
      <p class="textLogin">Bem-vindo à Vila Verde</p>
    </div>
    <main class="entradaInfos">
      <div class="opcoesLogin">
        <a href="/login/admin" class="button">Login Admin</a>
        <a href="/login/eleitor" class="button">Login Eleitor</a>
      </div>
    </main>
  </body>
</html>
