*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
}
.headerd{
   width: 100%;
   height: 75px;
}
.textlogo{
    display: flex;
    flex-direction: row;
    margin-left: 6px;
}
.logo{
    font-size: 44px;
    font-family: 'inika';
    color: #BFBFBF;
}
.verde{
    color: #00A811;
}
.linha{
   background-color: #C8C8C8;
    width: 600px;
    height: 0.5px;
    margin-left: 3px;
}
.entradaInfos{
    width: 100%;
    height: 440px;
}
.nomePagina{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Montserrat',serif;
    padding: 30px;
}

.form{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.metadeForm{
    width: 50%;
    height: 300px;
    display: flex;
    font-family: 'Montserrat';
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
}

#data{
    width: 400px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #565656;
    outline: none; 
    padding-left: 3px;
    font-size: 17px;

}
#Endereco{
    border: none;
    outline: none;
    width: 400px;
    height: 40px;
    padding-left: 3px;
    background-color: #E1E1E1;
    margin-top: 4px;
    margin-bottom: 140px;
    font-size: 17px;
}
.label{
    margin-bottom: 20px;
    margin-left: 3px;
    font-size: 20px;
    font-weight:600;

}
.labelEsp{
    font-size: 20px;
    margin-left: 3px;
    font-weight:600;

}
.botaoDiv{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.cadastraDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 45px;
}
.cadastrar{
    width: 200px;
    height: 50px;
    background-color: #00A811;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat';
    color:#fff;
    font-size: 17px;
}
.cadastrar:hover{
    background-color: #00e617;

}
.voltaDiv{
    display:flex;
    align-items:center;
}
.voltar:hover{
    background-color: #acacac;

}
.voltar{
    width: 100px;
    height: 30px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    background-color: #565656;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat';
    margin-top: 20px;

}
.textoI{
    font-family: 'Montserrat';
    margin-top: 6px;
}
.completa{
    width: 99.7%;
}
