*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
}
.headerd{
   width: 100%;
   height: 75px;
}
.textlogo{
    display: flex;
    flex-direction: row;
    margin-left: 6px;
}
.logo{
    font-size: 44px;
    font-family: 'inika';
    color: #BFBFBF;
}
.verde{
    color: #00A811;
}
.linha{
   background-color: #C8C8C8;
    width: 600px;
    height: 0.5px;
    margin-left: 3px;
}
.linhaCompleta{
    background-color: #C8C8C8;
    width: 99.7%;
    height: 0.5px;
    margin-left: 3px;
    margin-top: 90px;
}
.entradaInfos{
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: row;
}
.metadinha{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.button{
    background-color: #00A811;
    width: 300px;
    height: 55px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 20px;
}

