<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="headerd">
        <div class="textlogo">
            <p class="logo">Vila</p>
            <p class="logo verde">Verde</p>
        </div>
        <div class="linha"></div>
    </header>
    <main class="entradaInfos">
        <p class="nomePagina">Cadastro de candidato</p>
        <form method="post" action="">
            <div class="form">
            <div class="metadeForm"> 
                <div class="info">
                    <label for="Nome" class="label">Nome</label>
                    <input type="text" id="Nome" placeholder="Digite seu nome completo">
                </div>
                 <div class="info">
                     <label for="CPF" class="label">CPF</label>
                     <input type="text" id="CPF" placeholder="Digite seu CPF completo" >
                 </div>
            </div>
            <div class="metadeForm segunda">
                <div class="info">
                    <label for="Endereco" class="labelEsp">Endereço</label>
                    <input type="text" id="Endereco" placeholder="Insira seu endereço">
                </div>
            </div>
            </div>
            <div class="botaoDiv">
                <div class="voltaDiv">
                    <button class="voltar">Voltar</button>
                </div>
                <div class="cadastraDiv">
                    <button class="cadastrar">Cadastrar candidato</button>
                    <p class="textoI">Ao cadastra-se você estará sujeito a nossos  Termos de eleição</p>
                </div>
                </div>
            <div class="linha completa"></div>
        </form>
        </main>

</body>
</html>